.wrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  background: #fff;
  font-family: "微软雅黑";
}
.wrap .content {
  width: 100%;
}
.wrap .content .login-left {
  width: 100%;
}
.wrap .content .login-left img {
  width: 100%;
}
.wrap .content .login-right {
  width: 100%;
  margin: auto;
}
.wrap .content .login-right .state {
  text-align: center;
  display: none;
  font-size: 14px;
  color: #949494;
  margin-top: 70px;
}
.wrap .content .btn {
  width: 12.47rem;
  height: 1.75rem;
  line-height: 1.75rem;
  color: #fff;
  border: 0;
  border-radius: 3rem;
  background: #ff8000;
  display: block;
  margin: 0px auto 3.2rem;
  font-size: .6rem;
}
.wrap .content .page {
  display: none;
  text-align: center;
  margin: auto;
}
.wrap .content .page h2 {
  font-size: .76rem;
  padding: .5rem 0;
}
.wrap .content .page-1 .banner img {
  width: 100%;
}
.wrap .content .page-1 h3 {
  font-size: .6rem;
  margin: 2.6rem 0 1.7rem;
  color: #2a2a2a;
}
.wrap .content .page-1 p {
  color: #949494;
  font-size: .5rem;
}
.wrap .content .page-1 p .agreement {
  color: #458efd;
}
.wrap .content .page-2 {
  text-align: center;
}
.wrap .content .page-2 h2 {
  background: #f0f0f7;
}
.wrap .content .page-2 #tip {
  font-size: 0.42rem;
  color: #6d6d6d;
  width: 6.41rem;
  text-align: center;
}
.wrap .content .page-2 h3 {
  font-size: 0.68rem;
  color: #2a2a2a;
}
.wrap .content .page-2 h3 span {
  font-size: 1.28rem;
  margin-bottom: 0.64rem;
  color: #ff8000;
  margin-right: 0.21rem;
}
.wrap .content .page-2 .pay-amount {
  font-size: .6rem;
  margin: 2.05rem 0 1.36rem;
}
.wrap .content .page-2 .pay-method {
  font-size: .6rem;
  margin: 1.28rem auto;
}
.wrap .content .page-2 .pay-wx {
  font-size: 0.51rem;
}
.wrap .content .page-2 .pay-wx img {
  width: 0.85rem;
  margin-right: 0.21rem;
  vertical-align: middle;
}
.wrap .content .page-2 .p2-tips {
  font-size: 0.51rem;
  color: #949494;
  margin: 0.64rem auto 0;
  border-bottom: 1px solid #dcdcdc;
  width: 11.53rem;
  padding-bottom: 1.28rem;
}
.wrap .content .page-2 .payment img {
  vertical-align: middle;
  width: 1.49rem;
  margin-right: 0.34rem;
}
.wrap .content .page-2 #code {
  width: 4.27rem;
  height: 4.27rem;
  margin: 0 auto;
  background: #EAEAEA;
  position: relative;
}
.wrap .content .page-2 #code table {
  margin: 0 auto;
}
.wrap .content .page-2 .state {
  font-size: 0.51rem;
  color: #949494;
  width: 11.53rem;
  line-height: 0.77rem;
  display: inline-block;
}
.wrap .content .page-2 .btn-pay {
  margin: 2.39rem auto 3.20rem;
  opacity: .4;
}
.wrap .content .page-3,
.wrap .content .page-4,
.wrap .content .page-5 {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrap .content .page-3 .result,
.wrap .content .page-4 .result,
.wrap .content .page-5 .result {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15rem;
  height: 10rem;
  right: 0;
}
.wrap .content .page-3 .result img,
.wrap .content .page-4 .result img,
.wrap .content .page-5 .result img {
  margin: 0 0 40px;
  width: 37.5px;
}
.wrap .content .page-3 .result p,
.wrap .content .page-4 .result p,
.wrap .content .page-5 .result p {
  font-size: 15px;
  color: #2a2a2a;
  margin-bottom: 20px;
}
.wrap .content .page-3 .result span,
.wrap .content .page-4 .result span,
.wrap .content .page-5 .result span {
  font-size: 12px;
  color: #949494;
}
.wrap .content .page-show {
  display: block;
}
.wrap .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #949494;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  background: #f8f8f8;
}
.wrap .footer .copyright {
  width: 90%;
  margin: 0 auto;
  height: 36px;
}
.wrap .footer .left {
  float: left;
}
.wrap .footer .left img {
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
}
.wrap .footer .left :nth-child(3) {
  margin-left: 18px;
}
.wrap .footer .right {
  float: right;
}
.wrap .pop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 44;
}
.wrap .pop .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #4e4e4e;
  opacity: 0.8;
  z-index: 3;
  display: flex;
}
.wrap .pop .popmsg {
  width: 80%;
  margin: auto;
  background: #fff;
  z-index: 5;
  text-align: CENTER;
  position: relative;
}
.wrap .pop .popmsg .close {
  width: 24px;
  top: 14px;
  right: 14px;
  position: absolute;
}
.wrap .pop .popmsg .pop-cont {
  padding: 10px 0 20px;
  font-size: 14px;
  color: #687276;
}
.wrap .pop .popmsg .pop-cont h3 {
  padding-bottom: 20px;
}
.wrap .pop .popmsg .pop-cont #tips {
  border-bottom: 1px solid #ccc;
  color: #ff8000;
  background: #fff;
}
.wrap .pop .popmsg .pop-cont .pop-detail {
  text-align: left;
  padding: 5px 10px 20px;
  line-height: 20px;
  height: 315px;
  background: #f7f7f7;
  overflow-y: scroll;
}
.wrap .pop .popmsg .pop-cont .pop-detail p {
  margin: 15px 0;
}
.wrap .pop .popmsg .pop-cont .pop-company {
  text-align: right;
}
.wrap .pop .popmsg button {
  width: 100%;
  border: 0;
  border-top: 1px solid #dcdcdc;
  background: #ffffff;
  color: #ff8000;
  font-size: 0.55rem;
  padding: 0.5rem 0;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.wrap .pop-rules {
  width: 72%;
  position: fixed;
  font-size: .64rem;
  color: #fff;
  bottom: 8.7rem;
  text-align: CENTER;
  height: 1.58rem;
  opacity: .8;
  left: 14%;
  line-height: 1.58rem;
  border-radius: 3px;
  background: #313131;
  display: none;
}
